.md-ripple{
	border-radius: 50%;
	position: absolute;
	background-color: rgba(var(--md-accent-color-grey-base-rgb), 0.07);
	pointer-events: none;
	transform: translate(-50%, -50%);
	z-index: 999;
}


// fix

.m-plylist-mix .itm .td:last-of-type {
    float: right;
    width: 14%;
}