@mixin mixed-background-color($bgcolor-rgb, $fgcolor-rgb, $transparency) {
	background: linear-gradient(0deg, rgba($fgcolor-rgb, $transparency), rgba($fgcolor-rgb, $transparency)), rgba($bgcolor-rgb, 1);
}
body:not(.ignore-now-playing), body.ignore-now-playing:not(.mq-playing) {
	// Override ncm css variables
	@import "ncm-css-override";
    --themeC1: var(--md-accent-color);
    --themeC1-rgb: var(--md-accent-color-rgb);
    --themeC1-hvr: var(--md-accent-color);
    --themePlay: var(--md-accent-color);
    --themePlay-hvr: var(--md-accent-color);
    --icnTheme: var(--md-accent-color);
    --icnTheme-hvr: var(--md-accent-color);
    --icnTheme-lighten: var(--md-accent-color);

	// Global

	background-color: var(--md-accent-color-bg);

	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: rgba(var(--md-accent-color-rgb), 0.1);
	}
	.g-hd, .m-player, .m-player, .m-player .spk.z-silence:after {
		background: transparent;
	}
	.g-hd:after {
		display: none;
	}

	// Player
	#main-player, .m-player-fm {
		border: none;
		height: var(--bottombar-height);
		background: var(--md-accent-color-bg);
		transition: all 0s !important;
	}
	// Player: progress bar
	.m-player .prg {
		left: 0;
		right: 0;
		padding: 0;
		position: fixed;
		bottom: calc(var(--bottombar-height) - 6px);
		top: unset !important;
		background: transparent;
		height: 8px;
		border-radius: 0 !important;
		.track, .download, .has {
			position: absolute;
			height: 4px;
			padding: 0;
			top: 2px !important;
			border: none;
			border-radius: 0 !important;
			/*cursor: pointer;*/
		}
		.track {
			@include mixed-background-color(var(--md-accent-color-bg-rgb), var(--md-accent-color-rgb), 0.08);
		}
		.has {
			background: var(--md-accent-color);
		}
		.download {
			@include mixed-background-color(var(--md-accent-color-bg-rgb), var(--md-accent-color-rgb), 0.15);
		}
		&:hover {
			.track, .download, .has {
				height: 8px !important;
				top: 0px !important;
			}
		}

		.ctrl::before {
			width: 20px !important;
			height: 20px !important;
			left: 2px !important;
			top: 0px !important;
			background: #666;
			border: 2px solid var(--md-accent-color);
			background: var(--md-accent-color-bg-darken);
			box-sizing: border-box;
			box-shadow: none;
			opacity: 1;
		}
		.ctrl:active::before{
			background: var(--md-accent-color);
		}
		&:hover .ctrl::before {
			top: 2px !important;
		}
	}
	// Player: time indicator
	#main-player, .m-player-fm {
		time.now, time.all {
			display: none;
		}
	}
	#time-indicator {
		right: 240px;
		top: 50%;
		transform: translateY(-50%);
		color: var(--md-accent-color);
		opacity: .5 !important;
		#time-passed {
			display: inline-block;
			width: 35px;
			text-align: right;
		}
		#time-rest {
			display: inline-block;
			width: 35px;
			text-align: left;
		}
	}
	// Player: control buttons
	#main-player, .m-player-fm {
		.btnc, .btnp, .type, .word, .subscribe, .fmdelete { // middle buttons
			top: 50% !important;
			transform: translateY(-50%);
			svg {
				fill: var(--md-accent-color);
			}
		}
		.btnp { // play and pause button
			background-color: var(--md-accent-color);
			transition: transform 0.25s ease;
			svg {
				fill: var(--md-accent-color-bg);
			}
			&:hover {
				transform: translateY(-50%) scale(1.1);
			}
		}
		.brt, .speed, .audioEffect, .spk, .listenTogether, .list { //right buttons
			&:hover {
				svg {
					fill: var(--md-accent-color);
				}
			}
		}
	}
	// Player: song cover and info
	.m-pinfo {
		height: calc(var(--bottombar-height) - 12px);
		.bar {
			height: calc(var(--bottombar-height) - 12px);
		}
		.info {
			height: calc(var(--bottombar-height) * 2 - 24px);
			transform: translateY(calc(0px - var(--bottombar-height) + 12px));
		}
		h3 .title {
			max-width: calc(50vw - 230px);
			color: rgba(var(--md-accent-color-rgb), 0.85);
			.s-fc4 {
				color: rgba(var(--md-accent-color-rgb), 0.35);
			}
		}
		.j-title:last-child { // artist container
			color: #ffffff66;
			font-size: 12px;
			margin-top: 2px;
			.artist {
				color: rgba(var(--md-accent-color-rgb), 0.65);
				&:hover {
					color: rgba(var(--md-accent-color-rgb), 0.8) !important;
				}
			}
		}
		.cover {
			height: 56px;
			width: 56px;
			margin-left: 2px;
			margin-right: 2px;
			.front {
				filter: none !important;
			}
			.zoom {
				height: 24px;
				width: 24px;
				border-radius: 50px;
				top: 5px;
				right: 5px;
				left: unset;
				transition: all .2s ease;
				svg {
					fill: rgba(var(--md-accent-color-rgb), 0.6);
					width: 20px;
					left: 2px;
					top: 0;
					stroke-width: 1px;
					stroke: rgba(var(--md-accent-color-rgb), 0.6);
					transition: all .2s ease;
				}
				&:hover {
					transform: scale(1.1);
				}
				&:hover svg {
					fill: rgba(var(--md-accent-color-rgb), 1);
					stroke: rgba(var(--md-accent-color-rgb), 1);
				}
			}
		}
		// love and praise button
		.icn.icn-loved, .icn.icn-praised {
			svg {
				opacity: 0;
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: var(--md-accent-color);
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-size: 24px;
				opacity: 1;
			}
		}
		.icn.icn-loved::before {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='icon24_liked'%3E%3Cpath d='M15.2 4.5c3 0 5.3 2.6 5.3 5.8 0 2.6-1.3 4.9-3.9 7.1-.9.8-1.9 1.5-2.9 2.2l-.9.6c-.2.1-.3.2-.4.2-.3.1-.6.1-.8 0-.1 0-.2-.1-.4-.2l-.9-.6c-1-.7-2-1.4-2.9-2.2-2.6-2.2-3.9-4.5-3.9-7.1 0-3.2 2.4-5.8 5.3-5.8 1.2 0 2.3.4 3.2 1.1.9-.7 2-1.1 3.2-1.1z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
		}
		.icn.icn-praised::before {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='btn_praise_after_24'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M14.236 9.03c.365-.746.22-2.029.22-2.029C14.456 4.25 12.839 4 12.305 4c-.119 0-.192.013-.192.013-1.828 0-1.892 3.05-1.892 3.05-.732 2.988-2.497 3.176-2.497 3.176H5.829C4 10.239 4 12.23 4 12.23v5.862C4 19.959 5.829 20 5.829 20h9.882c1.829 0 2.56-1.535 2.56-1.535s1.32-2.874 1.685-5.861c.366-2.989-1.665-3.574-1.685-3.574z'%3E%3C/path%3E%3Cpath d='M17.374 18.024a1.877 1.877 0 0 1-1.663.976L9 19.001v-8.232c.763-.484 1.702-1.468 2.192-3.468l.026-.107.002-.11c.012-.531.253-2.071.893-2.071l.06.004.084-.015A.496.496 0 0 1 12.305 5c.734 0 1.142.695 1.151 1.959-.057.64-.222 1.722-.411 2.107l-.332.914H17.993s.517.301.75.663c.239.372.317 1.056.221 1.839-.342 2.791-1.589 5.539-1.59 5.542zM5 18.092V12.23c0-.233.06-.991.829-.991h1.948l.053-.006c.014-.001.077-.01.17-.031v7.799H5.865C5.47 18.98 5 18.806 5 18.092zm9.236-9.062c.365-.746.22-2.029.22-2.029C14.456 4.25 12.839 4 12.305 4c-.119 0-.192.013-.192.013-1.828 0-1.892 3.05-1.892 3.05-.732 2.988-2.497 3.176-2.497 3.176H5.829C4 10.239 4 12.23 4 12.23v5.862C4 19.959 5.829 20 5.829 20h9.882c1.829 0 2.56-1.535 2.56-1.535s1.32-2.874 1.685-5.861c.366-2.989-1.665-3.574-1.685-3.574z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
		}
		.icn:not(.icn-loved):not(.icn-praised){
			opacity: .8;
			transition: all .2s ease;
			&:hover{
				opacity: 1;
			}
			svg{
				fill: var(--md-accent-color);
				stroke: var(--md-accent-color);
				stroke-width: 1px;
			}
		}
	}
	// TODO: Player: popup menus


	// Left sidebar
	.g-sd {
		border: none;
		@include mixed-background-color(var(--md-accent-color-bg-rgb), var(--md-accent-color-rgb), 0.03);
		border-radius: 0px 16px 0px 0px;
		overflow: hidden;
		top: 0;
		bottom: var(--bottombar-height);
		z-index: 151;
	}
	.g-sd .m-nav{
		&:not(:hover)::-webkit-scrollbar-thumb {
			background: transparent;
		}
		&::-webkit-scrollbar {
			width: 5px;
		}

		// tabs
		ul li a {
			color: rgba(var(--md-accent-color-rgb), 0.9) !important;
			border-radius: 100px !important;
			margin-left: 5px !important;
			padding-left: 35px;
			height: 40px;
			line-height: 40px;
			transition: background-color .2s ease;
			svg {
				fill: rgba(var(--md-accent-color-rgb), 1);
				left: 10px;
			}
			&:hover {
				background: rgba(var(--md-accent-color-rgb), 0.05);
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transform: scaleX(0.32);
				transition-duration: 200ms;
				transition-property: transform, opacity;
				transition-timing-function: ease-out;
				border-radius: 100px;
				background: rgba(var(--md-accent-color-rgb), 0.12);
				z-index: -1;
			}
		}
		ul li.z-sel a {
			&::before {
				opacity: 1;
				transform: scaleX(1);
			}
		}
		ul li.fsection a {
			padding-left: 15px;
		}
		ul#my-music-list li:not(.lke) a svg{
			left: 12px;
		}
		ul.my li a {
			color: rgba(var(--md-accent-color-rgb), 0.8) !important;
			svg{
				fill: rgba(var(--md-accent-color-rgb), 0.8);
			}
		}

		// section titles
		h2 {
			color: rgba(var(--md-accent-color-rgb), 0.5);
			margin-left: -5px;
			svg {
				fill: rgba(var(--md-accent-color-rgb), 0.5);
			}
		}

		// new list button
		.newlist::before, .newlist::after {
			background: rgba(var(--md-accent-color-rgb), 0.7);
		}

		// heartbeat mode button
		ul li.lke .heartbeat{
			border-color: rgba(var(--md-accent-color-rgb), 0.1);
			transition: all .25s ease;
			svg {
				fill: rgba(var(--md-accent-color-rgb), 0.7);
				transition: all .25s ease;
			}
			&:hover{
				border-color: transparent;
				background: var(--md-accent-color);
				svg {
					fill: var(--md-accent-color-bg);
				}
			}
		}
	}


	// Header
	header.g-hd {
		.m-leftbox {
			left: 190px;
		}
		.m-hst {
			.btn-prv, .btn-nxt {
				width: 36px;
				height: 36px;
				border-radius: 100px;
				transition: all .25s ease;
				position: relative;
				&::before {
					content: '';
					display: block;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					border-radius: 100px;
					position: absolute;
					background-color: rgba(var(--md-accent-color-rgb), 1);
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
				}
				&:hover {
					background-color: rgba(var(--md-accent-color-rgb), 0.1);
				}
				&.z-dis::before {
					background-color: rgba(var(--md-accent-color-rgb), 0.2);
				}
				svg {
					display: none;
				}
			}
			.btn-prv::before {
				-webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='m12 20-8-8 8-8 1.425 1.4-5.6 5.6H20v2H7.825l5.6 5.6Z'/%3E%3C/svg%3E");
			}
			.btn-nxt::before {
				-webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z'/%3E%3C/svg%3E");
			}
		}
		.m-sch {
			height: 36px;
			input {
				background-color: rgba(var(--md-accent-color-rgb), 0.06);
				padding-left: 36px;
				transition: all .25s ease;
			}
			input:focus {
				background-color: rgba(var(--md-accent-color-rgb), 0.12);
			}
			.sch-btn {
				background-color: rgba(var(--md-accent-color-rgb), 1);
				transform: translateY(2px);
				transition: all .25s ease;

				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				-webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='m15.938 17-4.98-4.979q-.625.458-1.375.719Q8.833 13 8 13q-2.083 0-3.542-1.458Q3 10.083 3 8q0-2.083 1.458-3.542Q5.917 3 8 3q2.083 0 3.542 1.458Q13 5.917 13 8q0 .833-.26 1.583-.261.75-.719 1.375L17 15.938ZM8 11.5q1.458 0 2.479-1.021Q11.5 9.458 11.5 8q0-1.458-1.021-2.479Q9.458 4.5 8 4.5q-1.458 0-2.479 1.021Q4.5 6.542 4.5 8q0 1.458 1.021 2.479Q6.542 11.5 8 11.5Z'/%3E%3C/svg%3E");
				svg {
					display: none;
				}
			}

		}
	}


	// Main

	.g-mn::-webkit-scrollbar {
		width: 10px;
	}
}